:root {
  --white: #fff;
  --black: #000;
  --gray: #ABB2B9;
  --gray-600: #797D7F;
  --blue: #5DADE2;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  font-size: 1rem;
  background-color: var(--black);
  color: var(--gray)
}

* {
  box-sizing: border-box;
}

a {
  color: var(--blue);
  text-decoration: none;
  transition: filter 0.2s ease-in;
}

a:hover {
  filter: brightness(0.8);
}

img {
  max-width: 100%;
  display: block;
}
