.container {
  display: flex;
  justify-content: right;
}

.listUl {
  display: flex;
  list-style: none;
}

.listItem {
  margin-right: 1rem;
}

.borderContent {
  border: 0.1rem solid var(--blue);
  border-radius: 50%;
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}
